.DS_Store
/Platforms/macOS/PSeudo.xcodeproj/project.xcworkspace/xcuserdata/dk.xcuserdatad/UserInterfaceState.xcuserstate
/Platforms/iOS/PSeudo.xcodeproj/project.xcworkspace/xcuserdata/dk.xcuserdatad/UserInterfaceState.xcuserstate
Platforms/Windows/Debug/
Platforms/Windows/.vs/
Platforms/Windows/PSeudo.VC.db
Platforms/Windows/PSeudo.VC.VC.opendb
